@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white font-sans;
  background-image: url('/images/scene-bg.jpg');
  background-size: cover;
  background-position: center;
}
